@import "tailwindcss";
body{
    @apply bg-[#2B2C36];
}
.cla{
    box-shadow: 2px 2px 10px #fff;
    border: none;
}

.calcul button{
     box-shadow: 2px 2px 3px inset #000 ;
    @apply text-white w-[50px] hover:bg-[#fff] hover:text-black transition-all ease-in-out duration-500 h-[50px] cursor-pointer rounded-[50%] flex justify-center items-center font-semibold;
}
